/* #region ANIMATION */
@keyframes scrollRight1 {
  0% { transform: translateX(-75%); }
  100% { transform: translateX(75%); }
}

@keyframes blink1 {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    75% { opacity: 0.5; }
    100% { opacity: 0.5; }
}

@keyframes colorSwitch {
  0%, 50% { color: var(--c1); }
  50.0001%, 100% { color: var(--c2); }
}

@keyframes colorSwitch2 {
    0% { color: grey; }
    50% { color: white; }
    75% { color: grey; }
    100% { color: grey; }
}

@keyframes shimmerMove {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}
/* #endregion */

/* #region BASE */
html {
  background-color: #191970;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  transform-origin: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;   
  min-height: 100vh;
  scale: 1.1;
}
/* #endregion */

/* #region IMAGE */
.textImg {
  background-size: cover;   
  width: 95%;
  height: 40px;
  background-image: url('../images/global/mbk00c.gif');
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presidentImage {
  width: 125px;
  height: 125px;
  background-image: url('../images/main/president.png');
  border: 2px solid blue;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.character   {
  background-image: url('../images/decoration/expression/vodyanitsa1.gif');
  position: absolute;
  width: 240px;
  height: 240px;
  bottom: -20px;
  border: 2px solid blue;
  transform: scale(0.4);
  transform-origin: center center;
}
/* #endregion */

/* #region DECORATION */
.centerDecoration {
  width: 500px;
  height: calc(375px - 1px);
  background-size: 100% 100%;
  background-image: url('../images/decoration/background/1.gif');
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
/* #endregion */

/* #region FRAME */
.mainFrame {
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid purple; 
  margin: 0 auto;
}

.upFrame1 {
  background-color: rgba(35, 0, 181, 0.25);
  position: absolute;
  left: 0;
  width: calc(650px - 1px);
  height: calc(175px - 1px);
  border: 1px solid purple; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upFrame2 {
  background-color: rgba(35, 0, 181, 0.25);
  position: absolute;
  right: 0;
  width: calc(150px - 1px);
  height: calc(175px - 1px);
  border: 1px solid purple; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftFrame {
  background-color: rgba(35, 0, 181, 0.25);
  position: absolute;
  left: 0;
  top: 175px;
  width: calc(150px - 1px);
  height: calc(375px - 1px);
  border: 1px solid purple; 
  text-align: center;
}

.leftInnerFrame {
  position: absolute;
  width: calc(150px - 1px);
  height: calc(375px - 1px); 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.rightFrame {
  background-color: rgba(35, 0, 181, 0.25);
  position: absolute;
  right: 0;
  top: 175px;
  width: calc(150px - 1px);
  height: calc(375px - 1px);
  border: 1px solid purple; 
}

.rightInnerFrame {
  position: absolute;
  width: calc(150px - 1px);
  height: calc(375px - 1px); 
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.centerFrame {
  position: relative;
  margin: 0 auto;
  margin-top: 175px;
  width: calc(500px - 1px);
  height: calc(375px - 1px);
  border: 1px solid blue; 
  text-align: center;
}

.bottomFrame1 {
  background-color: rgba(35, 0, 181, 0.25);
  position: absolute;
  bottom: 0;
  width: calc(800px - 1px);
  height: calc(25px - 1px);
  border: 1px solid purple; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottomFrame2 {
  background-color: rgba(35, 0, 181, 0.25);
  overflow: hidden;
  position: absolute;
  bottom: calc(25px - 1px);
  width: calc(800px - 1px);
  height: calc(25px - 1px);
  border: 1px solid purple; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tecFrame {
  position: relative;
  width: 800px;
  height: 17.5px;
  border: 1px solid blue; 
  margin: 0 auto;
  transform: translate(0px, 20px);
  overflow: hidden;
}

.tecFrame::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 0;
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(255, 255, 255, 0.15) 30%,
        rgba(255, 255, 255, 0.35) 50%,
        rgba(255, 255, 255, 0.15) 70%,
        transparent 100%
    );
    pointer-events: none;
    animation: shimmerMove 3s linear infinite;
}
/* #endregion */

/* #region TEXT */
.mainTitle {
  margin: 0;
  color: yellow;
  font-family:'Book Antiqua';
  font-size: 40px; 
  font-weight: normal;
  text-align: center;
}

.subTitle {
  margin: 3;
  color: grey;
  font-family:'Book Antiqua';
  font-size: 17.5px; 
  font-weight: normal;
  font-style: italic;
  text-align: center;
  animation: colorSwitch2 4s ease-in-out infinite;
}

.I_text1 {
  line-height: 0;
  color: yellow;
  font-size: 20px; 
  font-weight: normal;
}

.I_text2 {
  line-height: 0;
  color: yellow;
  font-size: 30px; 
  font-weight: normal;
  font-style: italic;
}

.I_text3 {
  line-height: 0;
  color: grey;
  font-size: 15px; 
  font-weight: normal;
  font-style: italic;
}

.II_text1 {
  line-height: 0;
  color: yellow;
  font-size: 15px; 
  font-weight: normal;
}

.leftTextTitle {
  text-decoration: underline;
  line-height: 1;
  color: yellow;
  font-size: 15px; 
  font-weight: normal;
}

.leftButton1 {
  background: transparent;
  border: 1px solid purple;
  line-height: 22.5px;  
  width: 120px;
  height: 22.5px; 
  color: yellow;
  font-size: 15px; 
  font-weight: normal;
  text-align: left;
  padding-left: 3px;
}

.leftButton1:hover {
  color: darkred;
}

.rightTextTitle {
  text-decoration: underline;
  line-height: 1;
  color: yellow;
  font-size: 15px; 
  font-weight: normal;
  text-align: center;
}

.launchDateText1,
#launchDateText2,
#timeDisplay,
#dateDisplay,
#visitorCountText {
  transform: translate(10px, 0px);
  line-height: 1;
  color: white;
  font-size: 10px;
  font-weight: normal;
  margin: 0;
  padding: 0;  
}


.centerText1 {
  line-height: 1;
  color: yellow;
  font-size: 12.5px; 
  font-weight: normal;
  --c1: yellow;
  --c2: red;
  animation: colorSwitch 3s steps(1) infinite;
}

.centerText2 {
  background: transparent;
  line-height: 10px;  
  color: rgba(255, 255, 255, 1);
  font-size: 12.5px; 
  font-weight: normal;
  text-align: left;
  padding-left: 7.5px;
  animation: blink1 4s ease-in-out infinite;

}


.bottomText1 {
  line-height: 0;
  color: yellow;
  font-size: 12.5px; 
  font-weight: normal;
}

.bottomText2 {
  line-height: 0;
  color: red;
  font-size: 12.5px; 
  font-weight: normal;
  display: inline-block;
  white-space: nowrap; 
  --c1: red;
  --c2: white;
  animation: scrollRight1 17.5s linear infinite, colorSwitch 2s steps(1) infinite;
}

.tecText {
  color: yellow;
  font-size: 11.5px; 
  font-weight: normal;
  text-align: center;
}

.tecInnerText {
  color: yellow;
  font-size: 11.5px; 
  font-weight: normal;
  text-align: center;
}

.tecInnerText:hover {
  color: darkred;
}
/* #endregion */



