/* #region FRAME */
.popup-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* 遮罩本身淡入淡出 */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease, visibility 0.1s ease;
}

.popup-overlay.active {
    opacity: 1;
    visibility: visible;
}

.popup-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid blue;
    background: rgba(0, 0, 0, 0.5);
    width: 600px; /*75%*/
    height: 450px; /*75%*/
    text-align: center;
    
    /*核心动画：从上向下偏移 + 渐变透明*/
    transform: translateY(-20px);
    opacity: 0;
    /*transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.4s ease;*/
    transition: transform 0.1s linear, opacity 0.1s linear;
}

.popup-overlay.active .popup-inner {
    transform: translateY(0);
    opacity: 1;
}
/* #endregion */

/* #region TEXT */
.popup-title {
    color: yellow;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin: 8px 0 6px 0;
}

.popup-text {
    transform: translate(30px, 0px);
    color: #e2e8f0;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    margin: 12px 0;
    line-height: 0;
}
.popup-text code {
    background: rgba(255, 255, 255, 0.1);
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 0.85rem;
    color: #93bbfc;
}

.popup-footer {
    position: absolute;
    color: yellow;
    font-weight: normal;
    text-align: center;
    font-size: 12.5px;
    bottom: 8px;
    left: 0;
    right: 0;
    padding: 0 16px;
}
/* #endregion */

/* #region BUTTON */
.popup-close-btn {
    position: absolute;
    right: 6px;
    top: 2px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 4px 10px;
    z-index: 10;
    transition: color 0.2s;
}

.popup-close-btn:hover {
    color: darkred;
}

.innerButton {
  background: transparent;
  line-height: 22.5px;  
  height: 22.5px; 
  color: yellow;
  font-size: 15px; 
  font-weight: normal;
  text-align: center;
  padding-left: 3px;
}

.innerButton:hover {
  color: darkred;
}
/* #endregion */